<h1>welcome to <strong>Meshittero</strong>!!</h1>
<h3>in <strong>Meshittero</strong></h3>

<p>SNS community that indiscriminately stimulates the appetite of sensible citizens.</p>

<%= link_to"Log in", new_user_session_path %>

<%= link_to"Sign Up",  new_user_registration_path %>